* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

html {
  min-height: 100vh;
}

body {
  background-color: #000;
  user-select: none;
}

#ledsContainer {
  user-select: none;
  -webkit-user-select: none;
}

#exampleColor {
  width: 50px;
  height: 50px;
  border: 1px solid gray;
  user-select: none;
}

#sliders {
  display: inline-block;
}

#colorText {
  padding: 8px 8px;
  border-radius: 3px;
  border: none;
  font-size: 12pt;
}

.color-square {
  width: 50px;
  height: 50px;
  border: 1px solid rgba(128,128,128,0.3);
  display: inline-block;
  margin: 0;
  padding: 0;
  user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
}

.led-row {
  margin: 0;
  padding: 0;
  max-height: 50px;
  user-select: none;
  -webkit-user-select: none;
}

.controls {
  display: flex;
  align-items: center;
  
}

.controls > div {
/*  border: 1px dashed red;*/
}

#frames canvas {
  border: 1px solid rgba(255,255,255,0.1);
}

#frames canvas:hover {
  cursor: pointer;
  box-shadow: 0px 1px 3px rgba(255,255,255,0.3);
}